html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

html {
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i');

@mixin font($fontSize, $fontColor, $fontWeight) {
    font-size: $fontSize;
    color: $fontColor;
    font-weight: $fontWeight;
}

.name_of_part {
    @include font(1.7rem, #000, 700);
    text-transform: uppercase;
    letter-spacing: 1px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        padding-bottom: 10px;
        font-size: 1.4rem;
    }
}
.small_name_of_part {
    @include font(0.8rem, #000, 700);
    text-transform: uppercase;
    line-height: 2rem;
    letter-spacing: 1px;
    font-family: Merriweather;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        line-height: 1.2rem;
        text-align: center;
        font-size: 0.7rem;
    }
}

.header, .about_us, .works, .services,
.team, .testimonial, .a_lot_of_logo,
.map, .footer {
    width: 100%;
    box-sizing: border-box;
    padding: 0 11vw;
    font-family: Montserrat;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding: 0 9vw;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        padding: 0 6vw;
    }
}
.header {
    height: 806px;
    background-color: #eff0f2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 130px;
    justify-content: space-between;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 730px;
        padding-bottom: 100px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        height: 650px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        height: 500px;
    }
    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .button_picture {
        display: flex;
    }
}
.header {
    .header_text {
        @include font(2rem, #505050, 700);
        line-height: 1.2em;
        text-transform: uppercase;
        text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 1.5rem;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            font-size: 1.2rem;
        }
    }
    .header_text>span {
        background-color: #b2f2ee;
        padding: 2px 5px;
    }
    .burger_menu {
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .burger_menu>div {
       width: 2vw;
       height: 4px;
       background-color: #606061;
       @media screen and (min-width: 768px) and (max-width: 1023px) {
           width: 4vw;
       }
       @media screen and (min-width: 320px) and (max-width: 767px) {
           width: 6vw;
       }
   }
}
.header {
    button {
        @include font(0.95rem, #777879, 700);
        border: 2px solid #777879;
        background-color: #eff0f2;
        height: 50px;
        width: 16vw;
        margin-left: 31vw;
        margin-right: 16vw;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-right: 11vw;
            margin-left: 28vw;
            width: 22vw;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            font-size: 0.8rem;
            width: 35vw;
            margin-left: 26vw;
            margin-right: 8vw;
        }
    }
}
.header {
    .button_picture img {
        @media screen and (min-width: 320px) and (max-width: 479px) {
            height: 60px;
        }
    }
}

.about_us {
    height: 985px;
    background-color: #f8fafa;
    display: grid;
    grid-template-areas:
    "a a"
    "b c";
    grid-template-rows: 300px 685px;
    grid-template-columns: 1fr 1fr;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-rows: 200px 570px;
        height: 770px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        grid-template-rows: 200px 360px 430px;
        height: 990px;
        grid-template-areas: 
        "a"
        "b"
        "c";
        grid-template-columns: 1fr 0fr;
    }
    @media screen and (min-width: 620px) and (max-width: 767px) {
        grid-template-rows: 200px 450px 380px;
        height: 1030px;
    }
    @media screen and (min-width: 480px) and (max-width: 620px) {
        grid-template-rows: 200px 400px 380px;
        height: 980px;
    }
    @media screen and (min-width: 480px) and (max-width: 479px) {
        grid-template-rows: 200px 280px 380px;
        height: 860px;
    }
    @media screen and (min-width: 400px) and (max-width: 479px) {
        grid-template-rows: 200px 280px 420px;
        height: 900px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        grid-template-rows: 200px 250px 570px;
        height: 1020px;
    }
    .about_us_01 {
        grid-area: a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_us_02 {
        grid-area: b;
        display: flex;
        flex-direction: column;
    }
    .about_us_03 {
        grid-area: c;
        padding-left: 5vw;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding-left: 3vw;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            padding-left: 4vw;
        }
    }
}
.about_us {
    .name_part_03 {
        @include font(1rem, #000, 900);
        text-transform: uppercase;
        width: 32vw;
        font-family: Merriweather;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 36vw;
            line-height: 1.3rem;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 80vw;
        }
    }
    .small_part_03 {
        @include font(0.7rem, #000, 400);
        font-family: Raleway;
        line-height: 1.6rem;
        width: 32vw;
        margin: 40px 0;
        text-align: justify; 
        letter-spacing: 1px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 36vw;
            line-height: 1.3rem;
            margin: 27px 0;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 80vw;
            line-height: 1.3rem;
            margin: 20px 0;
        }
    }
}
.about_us {
    .about_us_02_up img {
        width: 27vw;
        position: absolute;
        box-shadow: 0px 0px 15px rgba($color: black, $alpha: 0.2);
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 40vw;
        }
    }
    .about_us_02_up img[alt*="about_us"]:hover {
        z-index: 40;
    }
    .about_us_02_up img[alt="about_us01"] {
        left: 17vw;
        z-index: 30;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            left: 30vw;
        }
    }
    .about_us_02_up img[alt="about_us02"] {
        left: 14vw;
        z-index: 20;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            left: 25vw;
        }
    }
    .about_us_02_up img[alt="about_us03"] {
        left: 20vw;
        z-index: 10;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            left: 35vw;
        }
    }
}
.about_us {
    .about_us_02_down {
        width: 5vw;
        display: flex;
        justify-content: space-between;
        padding-left: 17vw;
        padding-top: 36vw;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            padding-top: 53vw;
            width: 10vw;
            padding-left: 39vw;
        }
    }
    .about_us_02_down > div {
        width: 1vw;
        height: 1vw;
        background-color: #d0d0d0;
        border-radius: 15%;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 2vw;
            height: 2vw;
        }
    }
    .about_us_02_down > div:hover {
        background-color: #71f6eb;
    }
}

.works {
    height: 1160px;
    background-color: #fff;
    display: grid;
    grid-template-areas:
    "a"
    "b";
    grid-template-rows: 300px 860px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-rows: 200px 57vw;
        height: 82vw;
    }
    @media screen and (min-width: 620px) and (max-width: 767px) {
        grid-template-rows: 200px 124vw;
        height: 160vw;
    }
    @media screen and (min-width: 320px) and (max-width: 619px) {
        grid-template-rows: 200px 124vw;
        height: 170vw;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        height: 186vw;
    }
    .works_01 {
        grid-area: a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .works_02 {
        grid-area: b;
        display: grid;
        grid-template-rows: 25vw 25vw;
        grid-template-columns: repeat(3, 25vw);
        grid-column-gap: 1.5vw;
        grid-row-gap: 1.5vw;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            grid-column-gap: 2vw;
            grid-template-columns: repeat(3, 26vw);
            grid-row-gap: 2vw;
            grid-template-rows: repeat(3, 26vw);
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            grid-template-columns: repeat(2, 40vw);
            grid-column-gap: 2vw;
            grid-row-gap: 2vw;
            grid-template-rows: 40vw 40vw 40vw;
            padding-left: 3vw;
        }
    }
}
.works {
    .works_02>div {
        height: 25vw;
        width: 25vw;
        background-size: cover;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 40vw;
            height: 40vw;
        }
    }
    .works_number_01 {
        background-image: url(../assets/img/works_number_01.jpg);
    }
    .works_number_02 {
        background-image: url(../assets/img/works_number_02.jpg);
    }
    .works_number_03 {
        background-image: url(../assets/img/works_number_03.jpg);
    }
    .works_number_04 {
        background-image: url(../assets/img/works_number_04.jpg);
    }
    .works_number_05 {
        background-image: url(../assets/img/works_number_05.jpg);
    }
    .works_number_06 {
        background-image: url(../assets/img/works_number_06.jpg);
    }
}

.services {
    height: 1600px;
    background-color: #f9fbfb;
    display: grid;
    grid-template-areas:
    "a"
    "b";
    grid-template-rows: 300px 1300px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-rows: 200px 1200px;
        height: 1400px;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        grid-template-rows: 200px 1450px;
        height: 1650px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        grid-template-rows: 200px 2500px;
        height: 2700px;
    }
    .services_01 {
        grid-area: a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services_02 {
        grid-area: b;
        display: grid;
        grid-template-areas:
        "c c c d d"
        "e e e f f"
        "g g h h h";
        grid-template-rows: 420px 370px 370px;
        grid-template-columns: repeat(5, 14.3vw);
        grid-column-gap: 1.5vw;
        grid-row-gap: 1.5vw;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            grid-template-columns: repeat(5, 15vw);
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            grid-template-columns: repeat(5, 16.3vw);
            grid-template-rows: 504px 444px 444px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            grid-template-areas:
            "c"
            "d"
            "e"
            "f"
            "g"
            "h";
            grid-template-columns: 1fr;
            grid-template-rows: 450px 450px 380px 380px 380px 380px;
        }
    }
}
.services {
    .rectangle_01 {
        grid-area: c;
        background-color: #70f5ea;
    }
    .rectangle_02 {
        grid-area: d;
        background-image: url(../assets/img/rectangle_02.png);
        background-size: cover;
    }
    .rectangle_03 {
        grid-area: e;
        background-image: url(../assets/img/rectangle_03.png);
        background-size: cover;
    }
    .rectangle_04 {
        grid-area: f;
        background-image: url(../assets/img/rectangle_04.png);
        background-size: cover;
    }
    .rectangle_05 {
        grid-area: g;
        background-image: url(../assets/img/rectangle_05.png);
        background-size: cover;
    }
    .rectangle_06 {
        grid-area: h;
        background-image: url(../assets/img/rectangle_06.png);
        background-size: cover;
    }
}
.services {
    .rectangle_01 {
        padding: 65px 7vw 150px 4vw;
        @media screen and (min-width: 480px) and (max-width: 1023px) {
            padding-top: 0;
            padding-bottom: 60px;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            padding-right: 4vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            display: flex;
            align-items: center;
            padding: 0 4vw 30px 6vw;
        }
    }
    .rectangle_02 {
        padding: 185px 7vw 60px 4vw;
        @media screen and (min-width: 480px) and (max-width: 1023px) {
            padding-top: 0;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            padding-right: 4vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            padding: 0 4vw 60px 6vw;
        }
    }
    .rectangle_03, .rectangle_04 {
        padding: 160px 7vw 60px 4vw;
        @media screen and (min-width: 480px) and (max-width: 1023px) {
            padding-top: 0;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            padding-right: 4vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            padding: 0 4vw 60px 6vw;
        }
    }
    .rectangle_05, .rectangle_06 {
        padding: 130px 7vw 60px 4vw;
        @media screen and (min-width: 480px) and (max-width: 1023px) {
            padding-top: 0;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            padding-right: 4vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            padding: 0 4vw 60px 6vw;
        }
    }
    .rectangle_03, .rectangle_06 {
        padding-right: 14vw;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            padding-right: 4vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            padding: 0 4vw 60px 6vw;
        }
    }
}
.services {
    .services_02>div {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @media screen and (min-width: 320px) and (max-width: 1023px) {
            justify-content: flex-end;
        }
    }
    .name_rectangle {
        @include font(1rem, rgba(255, 255, 255, 0.9), 800);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: Merriweather;
    }
    .small_text_rectangle {
        @include font(0.8rem, rgba(255, 255, 255, 0.9), 500);
        font-family: Raleway;
        line-height: 1.4rem;
        text-align: justify; 
        letter-spacing: 1px;
        @media screen and (min-width: 320px) and (max-width: 1023px) {
            line-height: 1.2rem;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            padding: 20px 0;
        }
    }
    a {
        @include font(1rem, rgba(255, 255, 255, 0.8), 400);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: Raleway;
        @media screen and (min-width: 480px) and (max-width: 1023px) {
            font-size: 0.7rem;
        }
    }
}
.services {
    .name_rectangle_black, .small_text_rectangle_black {
        color: #000;
    }
    .small_text_rectangle_black {
        line-height: 1.6rem;
        @media screen and (min-width: 320px) and (max-width: 1023px) {
            line-height: 1.3rem;
        }
    }
}

.team {
    height: 1300px;
    background-color: #fff;
    display: grid;
    grid-template-areas:
    "a"
    "b";
    grid-template-rows: 300px 1000px;
    @media screen and (min-width: 480px) and (max-width: 1023px) {
        grid-template-rows: 200px 1350px;
        height: 1600px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        height: 2950px;
        grid-template-rows: 200px 2750px;
    }
    .team_01 {
        grid-area: a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .team_02 {
        grid-area: b;
        display: grid;
        grid-template-rows: 450px 450px;
        grid-template-columns: repeat(3, 25vw);
        grid-column-gap: 1.5vw;
        grid-row-gap: 1.5vw;
        @media screen and (min-width: 480px) and (max-width: 1023px) {
            grid-template-rows: 450px 450px 450px;
            grid-template-columns: repeat(2, 40vw);
            grid-column-gap: 2vw;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            grid-template-columns: repeat(2, 43vw);
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            grid-template-rows: repeat(6, 450px);
            grid-template-columns: 1fr;
            grid-row-gap: 2vw;
        }
    }
}
.team {
    .team_02>div {
        height: 450px;
        width: 25vw;
        background-size: cover;
        background-position-x: center;
        display: flex;
        align-items: flex-end;
        padding: 0 1.5vw 1.5vw 1.5vw;
        box-sizing: border-box;
        @media screen and (min-width: 320px) and (max-width: 1023px) {
            width: 40vw;
            padding: 0 1.5vw 1.5vw 7.5vw;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 43vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 80vw;
            margin-left: 4vw;
        }
    }
    .team_number_01 {
        background-image: url(../assets/img/team_number_01.jpg);
    }
    .team_number_02 {
        background-image: url(../assets/img/team_number_02.jpg);
    }
    .team_number_03 {
        background-image: url(../assets/img/team_number_03.jpg);
    }
    .team_number_04 {
        background-image: url(../assets/img/team_number_04.jpg);
    }
    .team_number_05 {
        background-image: url(../assets/img/team_number_05.jpg);
    }
    .team_number_06 {
        background-image: url(../assets/img/team_number_06.jpg);
    }
}
.team {
    .team_02>div .team_info {
        display: none;
    }
    .team_02>div:hover .team_info {
        display: flex;
        width: 22vw;
        height: 240px;
        background-image: url(../assets/img/Shape_1.png);
        background-size: cover;
        padding: 50px 3vw 30px 3vw;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 30vw;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 35vw;
            padding-top: 30px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 60vw;
        }
    }
}
.team {
    .team_02>div:hover .team_info .team_info_tel {
        display: flex;
        justify-content: space-between;
        width: 6vw;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 10vw;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 15vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 20vw;
        }
    }
    .team_02>div:hover .team_info .team_info_small {
        @include font(0.8rem, #000, 500);
        font-family: Raleway;
        line-height: 1.1rem;
        text-align: justify; 
        letter-spacing: 1px;
    }
    .team_02>div:hover .team_info .team_info_name {
        @include font(1rem, #000, 800);
        font-family: Merriweather;
    }
    .team_02>div:hover .team_info .team_info_name span {
        @include font(0.8rem, #767070, 400);
    }
}

.testimonial {
    height: 923px;
    background-color: #f9fbfb;
    display: grid;
    grid-template-areas:
    "a a"
    "b c";
    grid-template-rows: 300px 623px;
    grid-template-columns: 31vw 47vw;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-rows: 200px 500px;
        height: 700px;
        grid-template-columns: 31vw 51vw;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        grid-template-areas:
        "a"
        "b"
        "c";
        grid-template-rows: 200px 500px 500px;
        height: 1200px;
        grid-template-columns: 1fr 0;
    }
    @media screen and (min-width: 480px) and (max-width: 620px) {
        grid-template-rows: 200px 400px 450px;
        height: 1050px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        grid-template-rows: 200px 300px 450px;
        height: 950px;
    }
    .testimonial_01 {
        grid-area: a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .testimonial_02 {
        grid-area: b;
    }
    .testimonial_03 {
        grid-area: c;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
.testimonial {
    .testimonial_02_up img {
        width: 23vw;
        position: absolute;
        box-shadow: 0px 0px 15px rgba($color: black, $alpha: 0.2);
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 40vw;
        }
    }
    .testimonial_02_up img[alt*="team"]:hover {
        z-index: 40;
    }
    .testimonial_02_up img[alt="team01"] {
        left: 13vw;
        z-index: 30;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            left: 30vw;
        }
    }
    .testimonial_02_up img[alt="team02"] {
        left: 10vw;
        z-index: 20;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            left: 25vw;
        }
    }
    .testimonial_02_up img[alt="team03"] {
        left: 16vw;
        z-index: 10;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            left: 35vw;
        }
    }
}
.testimonial {
    .testimonial_02_down {
        width: 11vw;
        display: flex;
        justify-content: space-between;
        padding-top: 31vw;
        padding-left: 10vw;
        @media screen and (min-width: 320px) and (max-width: 767px) {
           padding-top: 58vw;
           width: 22vw;
           padding-left: 33vw; 
        }
    }
    .testimonial_02_down > div {
        width: 1vw;
        height: 1vw;
        background-color: #d0d0d0;
        border-radius: 15%;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 2vw;
            height: 2vw;
        }
    }
    .testimonial_02_down > div:hover {
        background-color: #71f6eb;
    }
}
.testimonial {
    .testimonial_03_back {
        width: 45vw;
        height: 360px;
        background-color: #eaebed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 3vw;
        box-sizing: border-box;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 49vw;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 80vw;
        }
    }
    .testimonial_long_name {
        font-family: Raleway;
        @include font(0.8rem, #000, 500);
        line-height: 1.4rem;
        letter-spacing: 1px;
        text-align: center;
        padding: 35px 0;
    }
    .testimonial_info_name {
        @include font(1rem, #000, 800);
        font-family: Merriweather;
    }
    .testimonial_info_name span {
        @include font(0.8rem, #767070, 400);
    }
}
.testimonial {
    .testimonial_direction {
        display: flex;
        align-self: flex-end;
    }
    .testimonial_left, .testimonial_right {
        width: 4vw;
        height: 4vw;
        margin: 30px 0;
        background-color: #fff;
        background-image: url(../assets/img/left.png);
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 10px rgba($color: black, $alpha: 0.2);
        border-radius: 15%;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 7vw;
            height: 7vw;
        }
    }
    .testimonial_right {
        background-image: url(../assets/img/right.png);
        margin: 30px 1vw 0 2vw;
    }
    .testimonial_left:hover, .testimonial_right:hover {
        background-color: #71f6eb;
        background-image: url(../assets/img/left_hover.png);
    }
    .testimonial_right:hover {
        background-image: url(../assets/img/right_hover.png);
    }
}

.a_lot_of_logo {
    height: 390px;
    background-color: #fff;
    display: grid;
    grid-template-areas:
    "a"
    "b";
    grid-template-rows: 195px 195px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding: 0 2vw;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        grid-template-areas: 
        "a"
        "b"
        "c";
        grid-template-rows: repeat(3, 100px);
        height: 300px;
    }
    .logo_part_1 {
        grid-area: a;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 140px 19.5vw 0;
        box-sizing: border-box;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            padding: 50px 10vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            padding: 50px 5vw;
        }
    }
    .logo_part_2 {
        grid-area: b;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 55px;
        box-sizing: border-box;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }
    }
    img {
        size: auto;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 4rem;
            height: auto;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 3rem;
        }
    }
}
.a_lot_of_logo {
    .logo_part_3, .logo_part_4 {
        display: none;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: block;
            height: 60px;
            padding: 50px 10vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            @media screen and (min-width: 320px) and (max-width: 479px) {
                padding: 50px 5vw;
            }
        }
    }
    .logo_part_3 {
        @media screen and (min-width: 320px) and (max-width: 767px) {
            grid-area: b;
        }
    }
    .logo_part_4 {
        @media screen and (min-width: 320px) and (max-width: 767px) {
            grid-area: c;
        }
    }

}

.map {
    height: 700px;
    background-image: url(../assets/img/map_background.jpg);
    display: grid;
    grid-template-columns: 41vw 35vw;
    grid-column-gap: 2vw;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 600px;
        grid-template-columns: 41vw 39vw;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        grid-template-columns: 44vw 44vw;
        height: 550px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        grid-template-columns: 1fr;
        height: 1000px;
        grid-template-rows: 500px 500px;
    }
    .map_part_left, .map_part_right {
        margin-top: 120px; 
        height: 460px;
        background-color: rgba(50, 74, 88, 0.8);
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 60px;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            margin-top: 40px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            margin-top: 20px;
        }
    }
}
.map {
    .map_part_left form {
        width: 41vw;
        height: 460px;
        padding: 20px 0 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 70vw;
            margin-left: 7vw;
        }
    }
    .map_part_left input, .map_part_left textarea {
        width: 37vw;
        height: 60px;
        background-color: rgba(50, 74, 88, 0.0);
        border: none;
        border-bottom: 1px solid rgba(202, 202, 202, 0.5);
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 70vw;
        }
    }
    .map_part_left textarea {
        height: 130px;
    }
    .map_part_left button {
        padding: 12px 24px;
        align-self: flex-start;
        margin: 30px 0 0 2vw;
        background-color: #6eeee4;
        border: none;
        font-family: Montserrat;
        @include font(0.9rem, rgba(50, 74, 88, 1), 600);
        letter-spacing: 2px;
        border-radius: 5px;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 0.7rem;
            align-self: center;
        }
    }
}
.map {
    .map_part_left input::placeholder {
        font-family: Raleway;
        @include font(0.8rem, rgba(255, 255, 255, 0.5), 500);
}
    .map_part_left textarea::placeholder {
        font-family: Raleway;
        @include font(0.8rem, rgba(255, 255, 255, 0.5), 500);
        padding-top: 20px;
        box-sizing: border-box;
    }
}
.map {
    .map_part_right {
        padding: 30px 2vw 20px 2vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: Raleway;
        @include font(0.9rem, rgba(255, 255, 255, 0.5), 500);
        line-height: 1.5rem;
        @media screen and (min-width: 320px) and (max-width: 479px) {
            padding: 30px 0 20px 7vw;
        }
    }
    .picture_map {
        width: 31vw;
        height: 225px;
        background-image: url(../assets/img/map.jpg);
        background-size: cover;
        background-position: center;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 35vw;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 40vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 75vw;
        }
    }
}

.footer {
    height: 300px;
    background-color: #262b2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 320px) and (max-width: 1023px) {
        height: 200px;
    }
    .footer_picture {
        height: 40px;
        width: 210px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0 40px;
        @media screen and (min-width: 320px) and (max-width: 1023px) {
            padding: 20px 0;
        }
    }
    a img[alt*="_first"] {
        display: block;
    }
    a img[alt*="_hover"] {
        display: none;
    }
    a:hover img[alt$="first"] {
        display: none;
    }
    a:hover img[alt$="hover"] {
        display: block;
    }
}
.footer {
    font-family: Raleway;
    .footer_big {
        text-transform: uppercase;
        letter-spacing: 1px;
        @include font(1rem, rgba(255, 255, 255, 0.8), 500);
    }
    .copyright {
        @include font(.9rem, rgba(255, 255, 255, 0.4), 500);
        text-align: center;
    }
}